*.pyc
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
.env.local

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Virtual environment
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Distribution / packaging
dist/
build/
*.egg-info/
